

h5{
    display: inline-block;
    width: 80%;
    color: white;
    padding-left: 10px;
}
a{
    text-decoration: none;
    color: white;
}
.header{
    background-color: green;
}
.body{
    text-align: center;
    background-color: rgb(229, 232, 234);
    padding: 170px;
}
button{
    background-color: rgb(227, 222, 222);
    padding: 30px;
    text-align: center;
    color: rgb(0, 0, 0);
    height: 20px;
    width: 480px;
    border-radius: 10px;
    border-style: ;
}
.ab1{
    background-color: green;
    color: white;
    width: 120px;
    height: 30px;
    text-align: center;
    padding: 10px;

}
.control-button{
    padding: 10px;
}
.foot{
    margin-top: 3px;
    background-color: black;
    color: white;
    text-align: center;
    padding : 4px;
}